<section class="blackBorder header">
    <!-- head of my website -->
    <header class="title">
      <h1>The Botanical Enthusiast</h1>
    </header>

    <!-- Navigation -->
    <nav class="blackBorder navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/">Contact</a>
    </nav>
  </section>