.blackBorder {
    border: 1px solid black;
}

/* I initially was using this as a utility class, but I liked how it looked so I left this class in multiple elements. 
is this ok to do in coding or is this bad practice?  */
.header{
    position: sticky; 
    top: 0px;
    background-color: lightgrey; 
}

.navbar {
    display: flex;
}

#body {
    display: flex;
    width: 100%;
    padding: 10px; 
    background-color: #e4dcca;
    flex-direction: row-reverse;
}



img {
    width: 300px;
    margin: 10;
}

.post {
   flex: 1;
}

.bpost {
    display: flex;

}

table, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
}

.sidebar, .post, .posts{
    padding: 10px; 
}

/* transitions */

#blog1-img {
    background-color: green;
    transition-property: background-color;
    transition-duration: 2s;
}

#blog1-img:hover {
    background-color: lightskyblue;
}

h2 {

transition-property: font-size;
transition-duration: 2s

}

h2:hover{
    font-size: 100px; 
    
}

#blog1-txt {
    transition-property: font-size;
    transition-duration: 2s;
}

#blog1-txt:hover{
    color: green;
    /* color: red */
    
}