<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="card blackBorder">
      <img
        src="./img/Tree.jpg"
        alt="Profile Picture: Picture of a tree"
        class="profile-img blueborder"
      />
      <div>
        <h3>Bryan Ernst</h3>
        <p>Desert Botanist, Philosopher, Hiker</p>
        <h4>Colorado Springs, CO</h4>
      </div>
    </div>
    <div class="about blackBorder">
            <h3>About</h3>  
      <p>Blog summary - text  text text text text text text text 
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text<br>
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text <br>
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text i li ke p lant s an d tr eest text
                text  text text text text text text text text text text <br>
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text <br>
              </p>
      </div>
      <%- include("./partials/foot.ejs") %>
  </body>
</html>
