<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Botanical Enthusiast</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <!-- top Section of Website -->
    <section class="blackBorder header">
      <!-- head of my website -->
      <header class="title">
        <h1>The Botanical Enthusiast</h1>
      </header>

      <!-- Navigation -->
      <nav class="blackBorder navbar">
        <a href="home.html">Home</a>
        <a href="/about">About</a>
        <a href="home.html">Contact</a>
      </nav>
    </section>

    <!-- Blog Post Section -->
    <section id="blogBody">
      <div class="post">
        <header class="artHead">
          <h2>My Articles</h2>
        </header>
        <section class="articles">
          <article class="blackBorder">
            <header>
              <h3>Blog 1</h3>
            </header>
            <div class="bpost">
              <img src="./img/Tree.jpg" alt="Large tree" id="blog1-img"/>
              <p id="blog1-txt">Blog summary - text  text text text text text text text 
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text<br>
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text <br>
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text i li ke p lant s an d tr eest text
                text  text text text text text text text text text text <br>
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text <br>
              </p>
            </div>
          </article>
          <article class="blackBorder">
            <header>
              <h3>Blog 2</h3>
            </header>
            <div class="bpost">
              <img src="./img/Tree.jpg" alt="Large tree" id="blog2.img"/>
              <p>Blog summary - all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy <br>
                all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy <br>
                all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy <br>
                all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy <br>
                all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy <br>
                all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy <br>
              </p>
            </div>
          </article>
          <article class="blackBorder">
            <header>
              <h3>Blog Title</h3>
            </header>
            <div class="bpost">
              <img src="./img/forestwater.webp" alt="Waterfall in a lush forest" />
              <p>Blog summary - text  text text text text text text text 
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text<br>
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text <br>
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text i li ke p lant s an d tr eest text
                text  text text text text text text text text text text <br>
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text
                text  text text text text text text text text text text <br>
              </p>
            </div>
          </article>
        </section>
      </div>

      <!-- Sidebar -->
      <aside class="blackBorder sideBar">
        <table>
         
            <h3>Table of Contents</h3>
        
          <thead>
            <tr>
              <th>Date</th>
              <th>Article</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Nov 2024</td>
              <td>Blog 3</td>
            </tr>
            <tr>
              <td>Sep 2024</td>
              <td>Blog 2</td>
            </tr>
            <tr>
              <td>Aug 2024</td>
              <td>Blog 1</td>
            </tr>
          </tbody>
        </table>
        <form>
          <p>Sign up for our newsletter</p>
          <input type="text" placeholder="Enter your email..." />
          <p>How offten would you like to be notified?</p>
          <input type="radio" name="timeform" value="weekly" id="weekly" />
          <label for="weekly">Weekly</label>
          <input type="radio" name="timeform" value="monthly" id="monthly" />
          <label for="monthly">Monthly</label>
          <button><a href="Survey.html">Enter</a></button>
        </form>
        <!-- <p>
          Support us and <br />
          become a Member
        </p>
        <a>Create new account</a> -->
      </aside>
    </section>

    <!-- Footer -->
    <footer class="blackBorder" style="background-color: #241205;">
      <p style="color: white; text-align: center;">Copyright 2024</p>
    </footer>
  </body>
</html>
