<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

     <section>
        <h2>How did you hear about us?</h2>
        <form>
            <input type="checkbox" name="source" value="youtube" id="youtube">
            <label for="youtube">Youtube</label>
            <br>
            <input type="checkbox" name="source" value="google" id="google">
            <label for="google">Google</label>
            <br>
            <input type="checkbox" name="source" value="facebook" id="facebook">
            <label for="facebook">Facebook</label>
            <br>
            <input type="checkbox" name="source" value="other" id="other">
            <label for="other">Other</label>
        </form>
        <button><a href="home.html">Submit</a></button>
     </section>
     <%- include("./partials/foot.ejs") %>
</body>
</html>